.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.leaflet-container { 
  width: 100wh;
  height: 100vh; }

  @media screen and (max-width:700px){
    .containerGeneral{
      display: flex;
    }
   .containerGeneral #containerDiv {
    grid-template-rows: 1fr 1fr;
   
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



